</div>
<script>
  // document.querySelector('body').classList.add('dark') //Koyu Mod
  $(document).ready(function () {
    M.AutoInit();
    // $('.sidenav').sidenav();
  });
</script>
</body>

</html>