<!DOCTYPE html>
<html>


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <title>LoraWan GateWay</title>
  <style>
    body {
      background-color: #eee;
      transition: color 1s ease, background-color 1s ease;
    }

    body.dark {
      background-color: #202123;
      color: #fff;
    }

    body.dark nav {
      background-color: #26a69a;
    }

    body.dark .card {
      background-color: rgba(255, 255, 255, 0.2);
    }

    body.dark .btn {
      background-color: #ee6f73;
    }

    body.dark .divider {
      opacity: 0.2;
    }

    body.dark .sidenav {
      background-color: #2d2d31;
    }

    body.dark .sidenav li a:not(.subheader) {
      color: #89b2f5;
    }

    body.dark .sidenav li a:not(.subheader):hover {
      background-color: #3b4043;
    }

    body.dark .sidenav li a.subheader {
      color: #9aa0a6;
    }

    body.dark .sidenav li a .material-icons {
      color: #9aa0a6;
    }

    body.dark .collection {
      border: 1px solid rgba(255, 255, 255, 0.2);
    }

    body.dark .collection .collection-item {
      background-color: rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  </style>
</head>

<body>
  <nav>
    <div class="nav-wrapper blue-grey darken-4">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">System Info</a></li>
        <!-- <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li> -->
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">System Info</a></li>
    <!-- <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li> -->
  </ul>
  <div class="container">